mcu/gsoap/mcu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="mcu"
 targetNamespace="urn:mcu"
 xmlns:tns="urn:mcu"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:mcu="urn:mcu"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:mcu"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:mcu="urn:mcu"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="VersionResponse"><!-- mcu__VersionResponse -->

   <complexContent>
    <restriction base="mcu:Version">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="StatusResponse"><!-- mcu__StatusResponse -->

   <complexContent>
    <restriction base="mcu:Status">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="VideoSourceResponse"><!-- mcu__VideoSourceResponse -->

   <complexContent>
    <restriction base="mcu:VideoSource">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="VideoSinkResponse"><!-- mcu__VideoSinkResponse -->

   <complexContent>
    <restriction base="mcu:VideoSink">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Version"><!-- mcu__Version -->

   <sequence>
     <element name="major" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::major -->
     <element name="minor" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::minor -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Version::desc -->
   </sequence>
  </complexType>
  <complexType name="Status"><!-- mcu__Status -->

   <sequence>
     <element name="uptime" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::uptime -->
     <element name="conferences" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::conferences -->
     <element name="up-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps5 -->
     <element name="up-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps60 -->
     <element name="up-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps300 -->
     <element name="down-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps5 -->
     <element name="down-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps60 -->
     <element name="down-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps300 -->
     <element name="cpu" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::cpu -->
     <element name="mem" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::mem -->
     <element name="up-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_lost_ratio -->
     <element name="down-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_lost_ratio -->
   </sequence>
  </complexType>
  <complexType name="MediaEndpoint"><!-- mcu__MediaEndpoint -->

   <sequence>
     <element name="peerip" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__MediaEndpoint::peerip -->
     <element name="peerrtp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::peerrtp -->
     <element name="peerrtcp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::peerrtcp -->
     <element name="ip" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__MediaEndpoint::ip -->
     <element name="rtp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::rtp -->
     <element name="rtcp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::rtcp -->
   </sequence>
  </complexType>
  <complexType name="VideoSource"><!-- mcu__VideoSource -->

   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::id -->
     <element name="codec" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::codec -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::endpoint -->
   </sequence>
  </complexType>
  <complexType name="VideoSink"><!-- mcu__VideoSink -->

   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::id -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sourceid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::endpoint -->
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="getVersion">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Version">
   <complexType>
    <sequence>
     <element name="major" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::major -->
     <element name="minor" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::minor -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Version::desc -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getStatus">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Status">
   <complexType>
    <sequence>
     <element name="uptime" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::uptime -->
     <element name="conferences" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::conferences -->
     <element name="up-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps5 -->
     <element name="up-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps60 -->
     <element name="up-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps300 -->
     <element name="down-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps5 -->
     <element name="down-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps60 -->
     <element name="down-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps300 -->
     <element name="cpu" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::cpu -->
     <element name="mem" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::mem -->
     <element name="up-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_lost_ratio -->
     <element name="down-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_lost_ratio -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addSource">
   <complexType>
    <sequence>
     <element name="memberid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__addSource::memberid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="VideoSource">
   <complexType>
    <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::id -->
     <element name="codec" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::codec -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::endpoint -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delSource">
   <complexType>
    <sequence>
     <element name="memberid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__delSource::memberid -->
     <element name="sourceid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__delSource::sourceid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addSink">
   <complexType>
    <sequence>
     <element name="memberid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__addSink::memberid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="VideoSink">
   <complexType>
    <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::id -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sourceid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::endpoint -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delSink">
   <complexType>
    <sequence>
     <element name="memberid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__delSink::memberid -->
     <element name="sinkid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__delSink::sinkid -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="getVersion">
 <part name="Body" element="mcu:getVersion"/><!-- mcu__getVersion::mcu__getVersion -->
</message>

<message name="Version">
 <part name="Body" element="mcu:Version"/><!-- mcu__getVersion::ver -->
</message>

<message name="getStatus">
 <part name="Body" element="mcu:getStatus"/><!-- mcu__getStatus::mcu__getStatus -->
</message>

<message name="Status">
 <part name="Body" element="mcu:Status"/><!-- mcu__getStatus::res -->
</message>

<message name="addSource">
 <part name="Body" element="mcu:addSource"/><!-- mcu__addSource::mcu__addSource -->
</message>

<message name="VideoSource">
 <part name="Body" element="mcu:VideoSource"/><!-- mcu__addSource::res -->
</message>

<message name="delSource">
 <part name="Body" element="mcu:delSource"/><!-- mcu__delSource::mcu__delSource -->
</message>

<message name="addSink">
 <part name="Body" element="mcu:addSink"/><!-- mcu__addSink::mcu__addSink -->
</message>

<message name="VideoSink">
 <part name="Body" element="mcu:VideoSink"/><!-- mcu__addSink::res -->
</message>

<message name="delSink">
 <part name="Body" element="mcu:delSink"/><!-- mcu__delSink::mcu__delSink -->
</message>

<portType name="mcuPortType">
 <operation name="getVersion">
  <documentation>Service definition of function mcu__getVersion</documentation>
  <input message="tns:getVersion"/>
  <output message="tns:Version"/>
 </operation>
 <operation name="getStatus">
  <documentation>Service definition of function mcu__getStatus</documentation>
  <input message="tns:getStatus"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="addSource">
  <documentation>Service definition of function mcu__addSource</documentation>
  <input message="tns:addSource"/>
  <output message="tns:VideoSource"/>
 </operation>
 <operation name="delSource">
  <documentation>Service definition of function mcu__delSource</documentation>
  <input message="tns:delSource"/>
 </operation>
 <operation name="addSink">
  <documentation>Service definition of function mcu__addSink</documentation>
  <input message="tns:addSink"/>
  <output message="tns:VideoSink"/>
 </operation>
 <operation name="delSink">
  <documentation>Service definition of function mcu__delSink</documentation>
  <input message="tns:delSink"/>
 </operation>
</portType>

<binding name="mcu" type="tns:mcuPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getVersion">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="getStatus">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="addSource">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="delSource">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="addSink">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="delSink">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="mcu">
 <documentation>gSOAP 2.8.17r generated service definition</documentation>
 <port name="mcu" binding="tns:mcu">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
