mcu/gsoap/mcu.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <schema targetNamespace="urn:mcu"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:mcu="urn:mcu"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="VersionResponse"><!-- mcu__VersionResponse -->

   <complexContent>
    <restriction base="mcu:Version">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="StatusResponse"><!-- mcu__StatusResponse -->

   <complexContent>
    <restriction base="mcu:Status">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="VideoSourceResponse"><!-- mcu__VideoSourceResponse -->

   <complexContent>
    <restriction base="mcu:VideoSource">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="VideoSinkResponse"><!-- mcu__VideoSinkResponse -->

   <complexContent>
    <restriction base="mcu:VideoSink">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="AudioStreamResponse"><!-- mcu__AudioStreamResponse -->

   <complexContent>
    <restriction base="mcu:AudioStream">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="MemberResponse"><!-- mcu__MemberResponse -->

   <complexContent>
    <restriction base="mcu:Member">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="ConferenceResponse"><!-- mcu__ConferenceResponse -->

   <complexContent>
    <restriction base="mcu:Conference">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="ConferenceArrayResponse"><!-- mcu__ConferenceArrayResponse -->

   <complexContent>
    <restriction base="mcu:ConferenceArray">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Version"><!-- mcu__Version -->

   <sequence>
     <element name="major" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::major -->
     <element name="minor" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::minor -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Version::desc -->
   </sequence>
  </complexType>
  <complexType name="Status"><!-- mcu__Status -->

   <sequence>
     <element name="uptime" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::uptime -->
     <element name="conferences" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::conferences -->
     <element name="up-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps5 -->
     <element name="up-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps60 -->
     <element name="up-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps300 -->
     <element name="down-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps5 -->
     <element name="down-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps60 -->
     <element name="down-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps300 -->
     <element name="cpu" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::cpu -->
     <element name="mem" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::mem -->
     <element name="up-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_lost_ratio -->
     <element name="down-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_lost_ratio -->
   </sequence>
  </complexType>
  <complexType name="MediaEndpoint"><!-- mcu__MediaEndpoint -->

   <sequence>
     <element name="peerip" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__MediaEndpoint::peerip -->
     <element name="peerrtp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::peerrtp -->
     <element name="peerrtcp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::peerrtcp -->
     <element name="ip" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__MediaEndpoint::ip -->
     <element name="rtp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::rtp -->
     <element name="rtcp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::rtcp -->
   </sequence>
  </complexType>
  <complexType name="VideoSource"><!-- mcu__VideoSource -->

   <sequence>
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::sourceid -->
     <element name="codec" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::codec -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::endpoint -->
   </sequence>
  </complexType>
  <complexType name="VideoSourceArray"><!-- mcu__VideoSourceArray -->

   <sequence>
    <element name="item" type="mcu:VideoSource" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="VideoSink"><!-- mcu__VideoSink -->

   <sequence>
     <element name="sinkid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sinkid -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sourceid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::endpoint -->
   </sequence>
  </complexType>
  <complexType name="VideoSinkArray"><!-- mcu__VideoSinkArray -->

   <sequence>
    <element name="item" type="mcu:VideoSink" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="AudioStream"><!-- mcu__AudioStream -->

   <sequence>
     <element name="streamid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__AudioStream::streamid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__AudioStream::endpoint -->
   </sequence>
  </complexType>
  <complexType name="Member"><!-- mcu__Member -->

   <sequence>
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::memberid -->
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Member::name -->
     <element name="sources" type="mcu:VideoSourceArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Member::sources -->
     <element name="sinks" type="mcu:VideoSinkArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Member::sinks -->
     <element name="audio" type="mcu:AudioStream" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::audio -->
     <element name="enableaudio" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::enableaudio -->
   </sequence>
  </complexType>
  <complexType name="MemberArray"><!-- mcu__MemberArray -->

   <sequence>
    <element name="item" type="mcu:Member" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Conference"><!-- mcu__Conference -->

   <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Conference::confid -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Conference::desc -->
     <element name="members" type="mcu:MemberArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Conference::members -->
   </sequence>
  </complexType>
  <complexType name="ConferenceArray"><!-- mcu__ConferenceArray -->

   <sequence>
    <element name="item" type="mcu:Conference" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="getVersion">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Version">
   <complexType>
    <sequence>
     <element name="major" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::major -->
     <element name="minor" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::minor -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Version::desc -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getStatus">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Status">
   <complexType>
    <sequence>
     <element name="uptime" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::uptime -->
     <element name="conferences" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::conferences -->
     <element name="up-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps5 -->
     <element name="up-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps60 -->
     <element name="up-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps300 -->
     <element name="down-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps5 -->
     <element name="down-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps60 -->
     <element name="down-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps300 -->
     <element name="cpu" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::cpu -->
     <element name="mem" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::mem -->
     <element name="up-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_lost_ratio -->
     <element name="down-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_lost_ratio -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addVideoSource">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSource::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSource::memberid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="VideoSource">
   <complexType>
    <sequence>
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::sourceid -->
     <element name="codec" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::codec -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::endpoint -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delVideoSource">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSource::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSource::memberid -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSource::sourceid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addVideoSink">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSink::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSink::memberid -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSink::sourceid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="VideoSink">
   <complexType>
    <sequence>
     <element name="sinkid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sinkid -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sourceid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::endpoint -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delVideoSink">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSink::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSink::memberid -->
     <element name="sinkid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSink::sinkid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addAudioStream">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addAudioStream::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addAudioStream::memberid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AudioStream">
   <complexType>
    <sequence>
     <element name="streamid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__AudioStream::streamid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__AudioStream::endpoint -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delAudioStream">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delAudioStream::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delAudioStream::memberid -->
     <element name="streamid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delAudioStream::streamid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addMember">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addMember::confid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Member">
   <complexType>
    <sequence>
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::memberid -->
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Member::name -->
     <element name="sources" type="mcu:VideoSourceArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Member::sources -->
     <element name="sinks" type="mcu:VideoSinkArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Member::sinks -->
     <element name="audio" type="mcu:AudioStream" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::audio -->
     <element name="enableaudio" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::enableaudio -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delMember">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delMember::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delMember::memberid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="enableSound">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__enableSound::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__enableSound::memberid -->
     <element name="enable" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__enableSound::enable -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="enableSoundResponse">
   <complexType>
    <sequence>
     <element name="res" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__enableSound::res -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addConference">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Conference">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Conference::confid -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Conference::desc -->
     <element name="members" type="mcu:MemberArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Conference::members -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delConference">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delConference::confid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="listConferences">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="listConferencesResponse">
   <complexType>
    <sequence>
     <element name="res" type="mcu:ConferenceArrayResponse" minOccurs="1" maxOccurs="1"/><!-- mcu__listConferences::res -->
    </sequence>
   </complexType>
  </element>
 </schema>

