mcu/gsoap/mcu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="mcu"
 targetNamespace="urn:mcu"
 xmlns:tns="urn:mcu"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:mcu="urn:mcu"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:mcu"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:mcu="urn:mcu"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="VersionResponse"><!-- mcu__VersionResponse -->

   <complexContent>
    <restriction base="mcu:Version">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="StatusResponse"><!-- mcu__StatusResponse -->

   <complexContent>
    <restriction base="mcu:Status">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="VideoSourceResponse"><!-- mcu__VideoSourceResponse -->

   <complexContent>
    <restriction base="mcu:VideoSource">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="VideoSinkResponse"><!-- mcu__VideoSinkResponse -->

   <complexContent>
    <restriction base="mcu:VideoSink">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="AudioStreamResponse"><!-- mcu__AudioStreamResponse -->

   <complexContent>
    <restriction base="mcu:AudioStream">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="MemberResponse"><!-- mcu__MemberResponse -->

   <complexContent>
    <restriction base="mcu:Member">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="ConferenceResponse"><!-- mcu__ConferenceResponse -->

   <complexContent>
    <restriction base="mcu:Conference">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="ConferenceArrayResponse"><!-- mcu__ConferenceArrayResponse -->

   <complexContent>
    <restriction base="mcu:ConferenceArray">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Version"><!-- mcu__Version -->

   <sequence>
     <element name="major" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::major -->
     <element name="minor" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::minor -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Version::desc -->
   </sequence>
  </complexType>
  <complexType name="Status"><!-- mcu__Status -->

   <sequence>
     <element name="uptime" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::uptime -->
     <element name="conferences" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::conferences -->
     <element name="up-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps5 -->
     <element name="up-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps60 -->
     <element name="up-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps300 -->
     <element name="down-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps5 -->
     <element name="down-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps60 -->
     <element name="down-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps300 -->
     <element name="cpu" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::cpu -->
     <element name="mem" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::mem -->
     <element name="up-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_lost_ratio -->
     <element name="down-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_lost_ratio -->
   </sequence>
  </complexType>
  <complexType name="MediaEndpoint"><!-- mcu__MediaEndpoint -->

   <sequence>
     <element name="peerip" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__MediaEndpoint::peerip -->
     <element name="peerrtp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::peerrtp -->
     <element name="peerrtcp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::peerrtcp -->
     <element name="ip" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__MediaEndpoint::ip -->
     <element name="rtp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::rtp -->
     <element name="rtcp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__MediaEndpoint::rtcp -->
   </sequence>
  </complexType>
  <complexType name="VideoSource"><!-- mcu__VideoSource -->

   <sequence>
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::sourceid -->
     <element name="codec" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::codec -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::endpoint -->
   </sequence>
  </complexType>
  <complexType name="VideoSourceArray"><!-- mcu__VideoSourceArray -->

   <sequence>
    <element name="item" type="mcu:VideoSource" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="VideoSink"><!-- mcu__VideoSink -->

   <sequence>
     <element name="sinkid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sinkid -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sourceid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::endpoint -->
   </sequence>
  </complexType>
  <complexType name="VideoSinkArray"><!-- mcu__VideoSinkArray -->

   <sequence>
    <element name="item" type="mcu:VideoSink" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="AudioStream"><!-- mcu__AudioStream -->

   <sequence>
     <element name="streamid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__AudioStream::streamid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__AudioStream::endpoint -->
   </sequence>
  </complexType>
  <complexType name="Member"><!-- mcu__Member -->

   <sequence>
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::memberid -->
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Member::name -->
     <element name="sources" type="mcu:VideoSourceArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Member::sources -->
     <element name="sinks" type="mcu:VideoSinkArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Member::sinks -->
     <element name="audio" type="mcu:AudioStream" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::audio -->
     <element name="enableaudio" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::enableaudio -->
   </sequence>
  </complexType>
  <complexType name="MemberArray"><!-- mcu__MemberArray -->

   <sequence>
    <element name="item" type="mcu:Member" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Conference"><!-- mcu__Conference -->

   <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Conference::confid -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Conference::desc -->
     <element name="members" type="mcu:MemberArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Conference::members -->
   </sequence>
  </complexType>
  <complexType name="ConferenceArray"><!-- mcu__ConferenceArray -->

   <sequence>
    <element name="item" type="mcu:Conference" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="getVersion">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Version">
   <complexType>
    <sequence>
     <element name="major" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::major -->
     <element name="minor" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Version::minor -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Version::desc -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getStatus">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Status">
   <complexType>
    <sequence>
     <element name="uptime" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::uptime -->
     <element name="conferences" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::conferences -->
     <element name="up-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps5 -->
     <element name="up-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps60 -->
     <element name="up-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_kbps300 -->
     <element name="down-kbps5" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps5 -->
     <element name="down-kbps60" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps60 -->
     <element name="down-kbps300" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_kbps300 -->
     <element name="cpu" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::cpu -->
     <element name="mem" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::mem -->
     <element name="up-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::up_lost_ratio -->
     <element name="down-lost-ratio" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- mcu__Status::down_lost_ratio -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addVideoSource">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSource::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSource::memberid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="VideoSource">
   <complexType>
    <sequence>
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::sourceid -->
     <element name="codec" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::codec -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSource::endpoint -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delVideoSource">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSource::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSource::memberid -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSource::sourceid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addVideoSink">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSink::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSink::memberid -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addVideoSink::sourceid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="VideoSink">
   <complexType>
    <sequence>
     <element name="sinkid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sinkid -->
     <element name="sourceid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::sourceid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__VideoSink::endpoint -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delVideoSink">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSink::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSink::memberid -->
     <element name="sinkid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delVideoSink::sinkid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addAudioStream">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addAudioStream::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addAudioStream::memberid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AudioStream">
   <complexType>
    <sequence>
     <element name="streamid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__AudioStream::streamid -->
     <element name="endpoint" type="mcu:MediaEndpoint" minOccurs="1" maxOccurs="1"/><!-- mcu__AudioStream::endpoint -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delAudioStream">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delAudioStream::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delAudioStream::memberid -->
     <element name="streamid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delAudioStream::streamid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addMember">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__addMember::confid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Member">
   <complexType>
    <sequence>
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::memberid -->
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Member::name -->
     <element name="sources" type="mcu:VideoSourceArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Member::sources -->
     <element name="sinks" type="mcu:VideoSinkArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Member::sinks -->
     <element name="audio" type="mcu:AudioStream" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::audio -->
     <element name="enableaudio" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Member::enableaudio -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delMember">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delMember::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delMember::memberid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="enableSound">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__enableSound::confid -->
     <element name="memberid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__enableSound::memberid -->
     <element name="enable" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__enableSound::enable -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="enableSoundResponse">
   <complexType>
    <sequence>
     <element name="res" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__enableSound::res -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addConference">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Conference">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__Conference::confid -->
     <element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- mcu__Conference::desc -->
     <element name="members" type="mcu:MemberArray" minOccurs="1" maxOccurs="1" nillable="true"/><!-- mcu__Conference::members -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="delConference">
   <complexType>
    <sequence>
     <element name="confid" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mcu__delConference::confid -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="listConferences">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="listConferencesResponse">
   <complexType>
    <sequence>
     <element name="res" type="mcu:ConferenceArrayResponse" minOccurs="1" maxOccurs="1"/><!-- mcu__listConferences::res -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="getVersion">
 <part name="Body" element="mcu:getVersion"/><!-- mcu__getVersion::mcu__getVersion -->
</message>

<message name="Version">
 <part name="Body" element="mcu:Version"/><!-- mcu__getVersion::ver -->
</message>

<message name="getStatus">
 <part name="Body" element="mcu:getStatus"/><!-- mcu__getStatus::mcu__getStatus -->
</message>

<message name="Status">
 <part name="Body" element="mcu:Status"/><!-- mcu__getStatus::res -->
</message>

<message name="addVideoSource">
 <part name="Body" element="mcu:addVideoSource"/><!-- mcu__addVideoSource::mcu__addVideoSource -->
</message>

<message name="VideoSource">
 <part name="Body" element="mcu:VideoSource"/><!-- mcu__addVideoSource::res -->
</message>

<message name="delVideoSource">
 <part name="Body" element="mcu:delVideoSource"/><!-- mcu__delVideoSource::mcu__delVideoSource -->
</message>

<message name="addVideoSink">
 <part name="Body" element="mcu:addVideoSink"/><!-- mcu__addVideoSink::mcu__addVideoSink -->
</message>

<message name="VideoSink">
 <part name="Body" element="mcu:VideoSink"/><!-- mcu__addVideoSink::res -->
</message>

<message name="delVideoSink">
 <part name="Body" element="mcu:delVideoSink"/><!-- mcu__delVideoSink::mcu__delVideoSink -->
</message>

<message name="addAudioStream">
 <part name="Body" element="mcu:addAudioStream"/><!-- mcu__addAudioStream::mcu__addAudioStream -->
</message>

<message name="AudioStream">
 <part name="Body" element="mcu:AudioStream"/><!-- mcu__addAudioStream::res -->
</message>

<message name="delAudioStream">
 <part name="Body" element="mcu:delAudioStream"/><!-- mcu__delAudioStream::mcu__delAudioStream -->
</message>

<message name="addMember">
 <part name="Body" element="mcu:addMember"/><!-- mcu__addMember::mcu__addMember -->
</message>

<message name="Member">
 <part name="Body" element="mcu:Member"/><!-- mcu__addMember::res -->
</message>

<message name="delMember">
 <part name="Body" element="mcu:delMember"/><!-- mcu__delMember::mcu__delMember -->
</message>

<message name="enableSoundRequest">
 <part name="Body" element="mcu:enableSound"/><!-- mcu__enableSound::mcu__enableSound -->
</message>

<message name="enableSoundResponse">
 <part name="Body" element="mcu:enableSoundResponse"/>
</message>

<message name="addConference">
 <part name="Body" element="mcu:addConference"/><!-- mcu__addConference::mcu__addConference -->
</message>

<message name="Conference">
 <part name="Body" element="mcu:Conference"/><!-- mcu__addConference::res -->
</message>

<message name="delConference">
 <part name="Body" element="mcu:delConference"/><!-- mcu__delConference::mcu__delConference -->
</message>

<message name="listConferencesRequest">
 <part name="Body" element="mcu:listConferences"/><!-- mcu__listConferences::mcu__listConferences -->
</message>

<message name="listConferencesResponse">
 <part name="Body" element="mcu:listConferencesResponse"/>
</message>

<portType name="mcuPortType">
 <operation name="getVersion">
  <documentation>Service definition of function mcu__getVersion</documentation>
  <input message="tns:getVersion"/>
  <output message="tns:Version"/>
 </operation>
 <operation name="getStatus">
  <documentation>Service definition of function mcu__getStatus</documentation>
  <input message="tns:getStatus"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="addVideoSource">
  <documentation>Service definition of function mcu__addVideoSource</documentation>
  <input message="tns:addVideoSource"/>
  <output message="tns:VideoSource"/>
 </operation>
 <operation name="delVideoSource">
  <documentation>Service definition of function mcu__delVideoSource</documentation>
  <input message="tns:delVideoSource"/>
 </operation>
 <operation name="addVideoSink">
  <documentation>Service definition of function mcu__addVideoSink</documentation>
  <input message="tns:addVideoSink"/>
  <output message="tns:VideoSink"/>
 </operation>
 <operation name="delVideoSink">
  <documentation>Service definition of function mcu__delVideoSink</documentation>
  <input message="tns:delVideoSink"/>
 </operation>
 <operation name="addAudioStream">
  <documentation>Service definition of function mcu__addAudioStream</documentation>
  <input message="tns:addAudioStream"/>
  <output message="tns:AudioStream"/>
 </operation>
 <operation name="delAudioStream">
  <documentation>Service definition of function mcu__delAudioStream</documentation>
  <input message="tns:delAudioStream"/>
 </operation>
 <operation name="addMember">
  <documentation>Service definition of function mcu__addMember</documentation>
  <input message="tns:addMember"/>
  <output message="tns:Member"/>
 </operation>
 <operation name="delMember">
  <documentation>Service definition of function mcu__delMember</documentation>
  <input message="tns:delMember"/>
 </operation>
 <operation name="enableSound">
  <documentation>Service definition of function mcu__enableSound</documentation>
  <input message="tns:enableSoundRequest"/>
  <output message="tns:enableSoundResponse"/>
 </operation>
 <operation name="addConference">
  <documentation>Service definition of function mcu__addConference</documentation>
  <input message="tns:addConference"/>
  <output message="tns:Conference"/>
 </operation>
 <operation name="delConference">
  <documentation>Service definition of function mcu__delConference</documentation>
  <input message="tns:delConference"/>
 </operation>
 <operation name="listConferences">
  <documentation>Service definition of function mcu__listConferences</documentation>
  <input message="tns:listConferencesRequest"/>
  <output message="tns:listConferencesResponse"/>
 </operation>
</portType>

<binding name="mcu" type="tns:mcuPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getVersion">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="getStatus">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="addVideoSource">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="delVideoSource">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="addVideoSink">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="delVideoSink">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="addAudioStream">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="delAudioStream">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="addMember">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="delMember">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="enableSound">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="addConference">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="delConference">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="listConferences">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="mcu">
 <documentation>gSOAP 2.8.16 generated service definition</documentation>
 <port name="mcu" binding="tns:mcu">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
